* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: black;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-game{
    font-size: 20px;
    color: #0056b3;
}

select{
    padding: 10px 5px;
    font-size: 20px;
    border-radius: 7px;

}
option{
    font-size: 20px;
    padding: 10px 5px;
}

button {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    margin-bottom: 20px;
}

h2{
    margin: 20px 0;
}

button:hover {
    background-color: #0056b3;
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
